<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport"
		  content="width=device-width,user-scalable=no,initial-scale=1.0,maximum=1.0,minimum=1.0">
		  <link rel="stylesheet" href="./css/land.css">
		  <script src="./js/jquery-3.2.0.min.js"></script>
		  <script src="./js/vue.js"></script>
</head>
<body>
<div id="app">
	<div class="top">
		<div class="top-content">
			<div class="login">
				<h2>账号登录</h2>
				<div class="user">
					<input type="text" v-model="phone" class="name" placeholder="输入用户名/邮箱/手机号">
					<input type="password" v-model="pass" class="pass" placeholder="输入密码">
				</div>
				<div class="check">
					<input type="checkbox" class="login-check">
					<span>下次自动登录</span>
					<span  class="forget">忘记密码</span>
				</div>
				<div class="land" @click="button"><p>登录</p></div>
			</div>
			<div class=third>
				<h2>第三方账号登录</h2>
				<a href="" class="qq"></a>
				<a href="" class="sina"></a>
				<a href="" class="baidu"></a>
				<a href="" class="cc"></a>
				<a href="" class="git"></a>
				<p>还没有csdn账号？<span><a href="./new.html">立即注册</a></span></p>
			</div>
		</div>
	</div>
	<div class="foot">
		<div class="footall">
			<div class="sub">
				<ul>
					<li><a href="">公司简介</a></li>
					<li>|</li>
					<li><a href="">招纳贤士</a></li>
					<li>|</li>
					<li><a href="">广告服务</a></li>
					<li>|</li>
					<li><a href="">联系方式</a></li>
					<li>|</li>
					<li><a href="">版权声明</a></li>
					<li>|</li>
					<li><a href="">法律顾问</a></li>
					<li>|</li>
					<li><a href="">问题报告</a></li>
					<li>|</li>
					<li><a href="">合作伙伴</a></li>
					<li>|</li>
					<li><a href="">论题反馈</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
	<script src="./js/land.js"></script>
</body>
</html>